<app-banner-top></app-banner-top>
<div class="category-selection-container">
    <h2>Which category suits you the best?</h2>
    <div class="image-cards">
      <app-image-card
        [imageSrc]="'assets/images/woman.jpg'"
        [altText]="'Profile of a woman'"
        [buttonText]="'Woman'"
        (buttonClick)="onWomanClick()"
      ></app-image-card>

      <app-image-card
        [imageSrc]="'assets/images/man.jpg'"
        [altText]="'Profile of a man'"
        [buttonText]="'Man'"
        (buttonClick)="onManClick()"
      ></app-image-card>
    </div>
  </div>
