.footer {
    background-color: #F8F8F8;
    padding: 1rem;
    text-align: center;
    color: #333;
    font-size: 1rem;
    margin-top: 50px;
  }
  
  .footer p {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .heart {
    color: #FF0000;
    font-size: 1.25rem;
  }
  