<nav class="navbar-container">
    <!-- First Row: Banner -->
    <div class="banner">
        <img src = "assets/images/prime-logo.png" alt="prime logo">
      <span>Link Your Account For Free 2-Day Shipping & More</span>
    </div>

    <!-- Second Row: Language, Currency, Logo, Search, etc. -->
    <div class="navbar-main">
      <div class="navbar-left">
        <div class="dropdown">
          <fa-icon class="nav-icons" [icon]="faLocation"></fa-icon>
          <span>USA</span>
          <fa-icon class="nav-down-icon" [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="dropdown">
          <fa-icon class="nav-icons" [icon]="faGlobe"></fa-icon>
          <span>ENG</span>
          <fa-icon class="nav-down-icon" [icon]="faChevronDown"></fa-icon>
        </div>
        <div class="dropdown">
          <fa-icon class="nav-icons" [icon]="faDollar"></fa-icon>
          <span>USD</span>
          <fa-icon class="nav-down-icon" [icon]="faChevronDown"></fa-icon>
        </div>
      </div>

      <div class="navbar-center">
        <img src="assets/images/shopbop-logo.png" alt="Shopbop" class="logo">
      </div>

      <div class="navbar-right">
        <a href="#">Sign In / Register</a>
        <a href="#"><fa-icon class="navbar-heart"[icon]="faHeart"></fa-icon></a>
        <a href="#"><fa-icon [icon]="faShoppingBag"></fa-icon></a>
        <div class="search-box">
          <input type="text" placeholder="Search">
          <fa-icon [icon]="faSearch"></fa-icon>
        </div>
      </div>
    </div>

    <!-- Third Row: Nav Links -->
    <div class="navbar-links">
      <a href="#">What's New</a>
      <a href="#">Sports</a>
      <a href="#">Get Inspired</a>
      <a href="#">Designers</a>
      <a href="#">Clothing</a>
      <a href="#">Dresses</a>
      <a href="#">Shoes</a>
      <a href="#">Bags</a>
      <a href="#">Jewelry & Accessories</a>
      <a href="#">Home & Gifts</a>
      <a href="#">Men</a>
      <a href="#">Beauty</a>
      <a href="#" class="active">Trending</a>
    </div>
  </nav>

