<div class="rank-card">

    <div class="image-container">
      <img [src]="imageSrc" [alt]="altText" class="product-image" />
    </div>


    <div class="product-details">
      <h4 class="brand">{{ brand }}</h4>
      <p class="name">{{ name }}</p>
      <p class="price">{{ price }}</p>


      <div class="action-icons">
        <button class="icon-button" (click)="onWishlistClick()">
          <fa-icon [icon]="faHeart"></fa-icon>
        </button>
        <button class="icon-button" (click)="onCartClick()">
            <fa-icon [icon]="faShopping"></fa-icon>
        </button>
      </div>
    </div>


    <div class="rank-number">
      {{ rank }}
    </div>
  </div>
