// Color Variables
$primary-color: #8ADB7F;
$text-color: #090D20;
$placeholder-color: #9ea1ae;
$info-text-color: #888;
$error-color: #d9534f;
$link-color: #4285F4;

// Main container
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .login-wrapper {
        width: 40%;
        margin: 50px;
        height: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .glass-effect {
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            background: linear-gradient(
                    153deg,
                    rgba(255, 255, 255, 0.3) -65.62%,
                    rgba(255, 255, 255, 0.1) 83.28%
                ),
                url('../../../assets/images/signup-background.jpg') -190px 0px / 134.675% 146.177% no-repeat;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            filter: blur(15px);
        }

        .form-elements {
            width: 60%;
            padding: 2rem;

            h1 {
                font-size: 1.75rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
                color: $text-color;
                text-align: center;
            }

            p.info {
                color: $info-text-color;
                margin-bottom: 1.5rem;
                text-align: center;
                font-size: 0.95rem;
                font-weight: 300;
            }

            form {
                display: flex;
                flex-direction: column;
                width: 100%;

                label {
                    font-weight: bold;
                    color: $text-color;
                    margin-bottom: 0.4rem;
                }
                #email {
                    margin-bottom: 1.5rem;
                }

                input[type="text"],
                input[type="email"],
                input[type="password"] {
                    padding: 0.75rem;
                    font-size: 1rem;
                    border: 1px solid #000;
                    background: transparent;
                    color: $text-color;
                    width: 100%;
                    box-sizing: border-box;

                    &::placeholder {
                        color: $placeholder-color;
                        font-size: 0.9rem;
                    }

                    &:focus, &:focus-visible {
                        border-radius: 0;
                        outline: -webkit-focus-ring-color auto 0px;
                    }
                }

                .password-field {
                    position: relative;

                    .toggle-icon {
                        position: absolute;
                        right: 1rem;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        font-size: 1rem;
                        color: $placeholder-color;
                    }
                }

                .forgot-password {
                    text-align: right;
                    margin: 1rem 0;

                    a {
                        color: $link-color;
                        text-decoration: none;
                    }
                }

                .button-wrapper {
                    text-align: center;

                    button {
                        background-color: $primary-color;
                        color: #000;
                        padding: 0.75rem;
                        font-size: 1rem;
                        font-weight: bold;
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.3s;

                        &:disabled {
                            background-color: #ccc;
                            color: #FFF;
                            cursor: not-allowed;
                        }
                    }
                }
            }

            .error {
                font-size: 0.85rem;
                color: $error-color;
                margin: -1.2rem 0 0.4rem;
            }

            .error-password {
                margin-top: 0.4rem;
            }
        }

        .sign-link {
            margin-top: 1.5rem;
            font-size: 0.9rem;
            text-align: center;
            font-weight: 300;

            a {
                color: $link-color;
                text-decoration: none;
            }
        }
    }
}
