<div class="login-container">
  <div class="login-wrapper">
      <div class="glass-effect"></div>
      <div class="form-elements">
          <h1>Login</h1>
          <p class="info">Enter your credentials to access your account.</p>
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

              <label for="email">Email Address</label>
              <input id="email" formControlName="email" type="email" placeholder="Enter your email address" />
              <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched" class="error">
                  Enter a valid email address.
              </div>

              <label for="password">Password</label>
              <div class="password-field">
                  <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'"
                      placeholder="Enter password" />
                  <fa-icon (click)="togglePasswordVisibility()" class="toggle-icon" [icon]="showPassword ? faEye : faEyeSlash"></fa-icon>
              </div>
              <div *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched" class="error error-password">
                  Password is required.
              </div>

              <div class="forgot-password">
                  <a href="#">Forgot Password?</a>
              </div>

              <div class="button-wrapper">
                  <button type="submit" [disabled]="loginForm.invalid">Login</button>
              </div>
          </form>
          <p class="sign-link">Don't have an account yet? <a href="/signup">Sign up here</a></p>
      </div>
  </div>
</div>
