<div class="ranking-bg">
    <div class="image-bg">
        <img src="assets/images/home-background.jpg" alt="background image">
        <div class="product-container">
            <div class="glass-card">
                <img src="assets/images/product1.jpg" alt="product image 1">
            </div>
            <div class="card-text">
                <span class="or-text">OR</span>
                <p>Rank Shopbop’s products and create your favorites list.</p>
                <button class="ranking-btn" (click)="navigateToGenderSelection()">Start Ranking</button>
            </div>
            <div class="glass-card">
                <img src="assets/images/product2.jpg" alt="product image 2">
            </div>
        </div>
    </div>
</div>
