<div class="ranking-bg">
    <div class="image-bg">
        <!-- Desktop Container -->
        <div class="product-container-desktop">
            <div class="glass-card-desktop">
                <img src="assets/images/product1.jpg" alt="Product Image 1">
            </div>
            <div class="card-text">
                <span class="or-text">OR</span>
                <p>Rank Shopbop's products and create your favorites list.</p>
                <button class="ranking-btn" (click)="navigateToGenderSelection()">Start Ranking</button>
            </div>
            <div class="glass-card-desktop">
                <img src="assets/images/product2.jpg" alt="Product Image 2">
            </div>
        </div>

        <!-- Mobile Container -->
        <div class="product-container-mobile">
            <div class="glass-card-mobile">
                <img src="assets/images/product1.jpg" alt="Product Image 1">
            </div> 
          
            <div class="card-text-mobile">
                <span class="or-text">OR</span>
                <p>Rank Shopbop's products and create your favorites list.</p>
                <button class="ranking-btn" (click)="navigateToGenderSelection()">Start Ranking</button>
            </div>
            <div class="glass-card-mobile">
                <img src="assets/images/product2.jpg" alt="Product Image 2">
               
            </div>
        </div>

       
    </div>
</div>
