.ranking-bg {
    background-color: #C9404C;
    height: 700px;
}

.image-bg {
    position: relative;
    justify-content: center;
    display: flex;
    height: 90%;

    img {
        width: 80%;
        object-fit: cover;
    }

    .product-container {
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        height: 100%;
    }

    .glass-card {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82%;
        background: rgba(255, 255, 255, 0.1); // Subtle glass effect
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(10px); // The blur for glass effect
        padding: 30px;
        img {
            border: 2px solid rgba(0, 255, 0, 0.3); // Green border effect for each image
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .card-text {
        flex: 1;
        text-align: center;
        color: white;
        .or-text {
            font-family: "Cormorant Garamond", serif;
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 10px;
            position: relative;
            color: white;
            text-align: center;

            // Add lines on both sides
            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                width: 80px;  // Increase this value to make the lines longer
                height: 2px;  // Line thickness
                background-color: white;  // Line color
            }

            &::before {
                left: -90px;  // Adjust position
            }

            &::after {
                right: -90px;  // Adjust position
            }
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        .ranking-btn {
            background-color: #47BA3A;
            color: white;
            padding: 10px 20px;
            border: none;
            font-size: 16px;
            cursor: pointer;
            &:hover {
                background-color: #3D9D32;
            }
        }
    }
}
