<div class="banner-container">
    <div class="banner-left">
        <img src="assets/images/banner-left.jpg" alt="Left Banner Image" />
    </div>

    <div class="banner-center">
        <img src="assets/images/banner-center.jpg" alt="Center Banner Image" />
    </div>

    <div class="banner-right">
        <img src="assets/images/banner-right.jpg" alt="Right Banner Image" />
    </div>

    <div class="banner-text">
        <span>Compare And Rank Products</span>
    </div>
    <a href="#" class="shop-designer">Shop Designer</a>
</div>